.final-title {
  font-weight: 500;
  font-size: 3em;
  color: #fff;
  margin: 10px 0 50px 0;
  text-align: center;
}

.congrats {
  color: #C5A361; 
}

.result-component {
  background-color: #D1C5B6;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.result-wrapper {
  background-color: #434242;
  border-radius: 0.5rem;
  padding: 20px 10px;
  box-shadow: 0 0 20px #868584;
}

.biotype-wrapper {
  margin-bottom: 70px;
  text-align: center;
}
.biotype-wrapper-last {
  text-align: center;
  margin-bottom: 5px;
}

.first-biotype, .second-biotype, .third-biotype {
  
  font-weight: 600;
  color: #C5A361;
  margin-bottom: 10px;
}

.first-biotype, .second-biotype, .third-biotype {
  font-size: 3em;
}

.video {
  margin: 20px auto 0 auto;
  max-width: 640px;
  max-height: 360px;
}

.biotype-text {
  color: #DFC694;
  font-size: 1.5em;
}

.access-button {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;

  background-image: linear-gradient(to right, #C89133, #434242);
  border-radius: 8px;
  font-size: 1.3em;
  font-weight: 500;
  padding: 15px 55px;
  color: #EB3132;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  text-decoration: none;
}

.access-button:hover {
  opacity: 80%;
}

.access-first-info, .access-second-info {
  text-align: center;
  margin: 20px 0;
}

.access-first-info {
  font-size: 2.5em;
  color: #C89133;
  margin-top: 50px;
}

.access-second-info {
  color: #585858;
  font-size: 1.5em;
}

.msg {
  color: #C89133;
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  margin: 20px 0; 
}

@media screen and (max-width: 434px) {
  .first-biotype, .second-biotype, .third-biotype {
    font-size: 2em;
  }
  
  .biotype-text {
    font-size: 1em;
  }
}