.quiz-result__title {
  margin: 10px 0 50px 0;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.congrats {
  color: #C5A361; 
}

.result-component {
  background-color: #D1C5B6;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.result-wrapper {
  background-color: #434242;
  border-radius: 0.5rem;
  padding: 20px 10px;
  box-shadow: 0 0 20px #868584;
}

.biotype-wrapper {
  margin-bottom: 70px;
  text-align: center;
}

.biotype-wrapper-last {
  text-align: center;
  margin-bottom: 5px;
}

.first-biotype {
  color: #C5A361;
  font-weight: bold;
  margin-bottom: 10px;
}

.first-biotype {
  font-size: 3em;
}

.video {
  margin: 20px auto 0 auto;
  max-width: 640px;
  max-height: 360px;
}

.biotype-text {
  max-width: 80%;
  margin: 1.2rem auto 1.2rem;
  color: #DFC694;
  font-size: 1.5em;
  line-height: 1.2;
}

.access-button {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;

  background-image: linear-gradient(to right, #C89133, #434242);
  border-radius: 8px;
  font-size: 1.3em;
  font-weight: 500;
  padding: 15px 55px;
  color: #EB3132;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  text-decoration: none;
}

.access-button:hover {
  opacity: 80%;
}

.access-first-info, .access-second-info {
  text-align: center;
  margin: 20px 0;
}

.access-first-info {
  font-size: 2.5em;
  color: #C89133;
  margin-top: 50px;
}

.access-second-info {
  color: #585858;
  font-size: 1.5em;
}

.msg {
  color: #C89133;
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  margin: 20px 0; 
}

.download {
  width: 160px;
  height: 50px;
  border: 1px;
  border-color: #EB3132;
  font-family: 'Poppins Regular';
  font-size: 18px;
  color: #C89133;
  background-color: #C89133;
}

.download__button {
  display: block;
  width: 15.625rem;
  padding: 1rem 4.5rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  background-color: #000;
  color: #C89133;
  border: solid 1px #EB3132;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease-in 0.2s;
  margin-top: 20px;
  cursor: pointer;
}

.download__button:hover {
  filter: brightness(90%);
}

@media screen and (max-width: 434px) {
  .first-biotype, .second-biotype, .third-biotype {
    font-size: 2em;
  }
  
  .biotype-text {
    font-size: 1em;
  }
}