.section__introduction {
  width: 100%;
}

.introduction__title {
  margin-bottom: 4rem;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  transition: all ease-in 0.2s;
}

.introduction__description {
  margin-bottom: 4rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  transition: all ease-in 0.2s;
}

.introduction__button {
  display: block;
  width: 15.625rem;
  padding: 1rem 4.5rem;
  margin: 0 auto;
  border-radius: 0.625rem;
  background-color: #D1C5B6;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease-in 0.2s;
}

.introduction__button:hover {
  filter: brightness(90%);
}

@media screen and (min-width: 768px) {
  .section__introduction {
    max-width: 62.5rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 576px) {
  .introduction__title {
    font-size: 5rem;
  }

  .introduction__description {
    font-size: 2rem;
  }
}