@font-face {
  font-family: 'Gordita Bold';
  src: url('../src/assets/fonts/Gordita-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../src/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../src/assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../src/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
