.quiz {
  background-color: #434242;
  padding: 1rem;
  width: 100%;
  max-width: 640px;
  border-radius: 0.5rem;
  align-self: center;
  flex-wrap: wrap;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.quiz-info .question {
  color: #fff;
  font-size: 2rem;
  font-family: 'Claster Oleander';
}

.quiz-info .score {
  color: #FFF;
  font-size: 1.25rem;
}

.options {
  margin-bottom: 1rem;
}

.option {
  display: block;
  padding: 1rem;
  color: #000;
  background-color: #D1C5B6;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.option:hover {
  background-color: #C89133;
  color: #fff;
}

.option.correct {
  background-color: #2cce7d;
}

.option.wrong {
  background-color: #ff5a5f;
}

.option.selected {
  color: #fff;
  background-color: #C89133;
}

.option:last-of-type {
  margin-bottom: 0;
}

.option.disabled {
  opacity: 0.5;
}

.option input {
  display: none;
}

.wrapper-button {
  text-align: right;
}

.return-button, .next-button  {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;

  padding: 0.5rem 1rem;
  background-color: #6DCA9D;
  color: #2d213f;
  border-radius: 8px;
  font-size: 1.3em;
  font-weight: 500;
  font-family: 'Poppins Lighter';
}

.next-button {
  background-color: #6DCA9D;
}

.return-button {
  color: #fff;
  background-color: #EB3132;
}

.return-button {
  float: left;
}

@media screen and (max-width: 373px) {
  .return-button, .next-button {
    font-size: 0.9em;
  }
}