.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 4rem auto;
}

.header__image {
  max-width: 396px;
  width: 90%;
  margin: 0 auto;
}